*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
*.iml
.idea
galaxy
openjdk/spring-boot-rest-example/.openshift/templates/nexus.yml
